* {
    font-family: "System-ui";
    font-weight: bold;
    min-height: 0;
    font-size: 11px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background: #2a2a2a;
    border-radius: 1px;
    color: whitesmoke;
    opacity: 0.95;
    font-size: 11px;
}

window#waybar.hidden {
    opacity: 0.95;
}

window#waybar.empty {
    padding: 0px;
    border: 0px;
}

#workspaces button {
    color: #6e6a86;
    box-shadow: none;
    text-shadow: none;
    padding: 0px 1px;
    border-radius: 50%;
    font-size: 11px;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    background: transparent;
}

#workspaces button.active {
    color: #ffffff;
    background: transparent;
    border-radius: 50%;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 11px;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
    color: #ffffff;
    font-size: 11px;
}

#workspaces button.urgent {
    color: #11111b;
    border-radius: 11px;
}

#workspaces button:hover {
    color: whitesmoke;
    background: transparent;
    border-radius: 50%;
    padding-left: 1px;
    padding-right: 1px;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#clock {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-left: 6px;
    color: whitesmoke;
    font-size: 11px;
    font-weight: bold;
}

#idle_inhibitor {
    padding-right: 6px;
    padding-left: 6px;
}

#idle_inhibitor.activated {
    color: #39FF14;
    font-weight: bold;
}

#pulseaudio {
    padding-right: 6px;
    padding-left: 6px;
}

#pulseaudio-slider slider {
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-width: 80px;
    min-height: 10px;
    border-radius: 5px;
    background-color: black;
}

#pulseaudio-slider highlight {
    min-height: 10px;
    border-radius: 5px;
    background-color: wheat;
}

#custom-wl-gammarelay-temperature {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 11px;
    color: whitesmoke;
}
