* {
	font-family: "System-ui";
	font-weight: bold;
	min-height: 0;	
	font-size: 11px;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
	background: #2a2a2a;
	border-radius: 1px;
	color: whitesmoke;
	opacity: 0.95;
	font-size: 12px;
}

window#waybar.hidden {
	opacity: 0.95;
}

window#waybar.empty {
	padding: 0px;
	border: 0px;
}

#workspaces button {
	color: #6E6A86;
	box-shadow: none;
	text-shadow: none;
	padding: 0px;
	border-radius: 1px;
	padding-left: 4px;
	padding-right: 4px;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
	font-size: 12px;
}

#workspaces button.active {
	color: whitesmoke;
	border-radius: 15px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 12px;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
	color: #ffffff;
	font-size: 12px;
}

#workspaces button.urgent {
	color: #11111b;
	border-radius: 10px;
}

#workspaces button:hover {
	color: whitesmoke;
	border-radius: 15px;
	padding-left: 2px;
	padding-right: 2px;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#clock {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
	color: whitesmoke;
	font-size: 12px;
}

#idle_inhibitor.activated {
	color: #39FF14;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
	background-color: black;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
	background-color: wheat;
}
